@{
    ViewBag.Title = "Warehouse";
}
<a href="/item">Link to Daftar Barang</a> | <a href="/log">Link to Transaction Page</a>

<table id="list_warehouse"></table>
<div id="pager_warehouse"></div>
<br />
<table id="list_warehouse_detail"></table>
<div id="pager_warehouse_detail"></div>

<script type="text/javascript" src="@Url.Content("~/scripts/warehouse/warehouse.js")"> </script>