@{
    ViewBag.Title = "Warehouse";
}

<table id="list_warehouse"></table>
<div id="pager_warehouse"></div>
<table id="list_warehouse_detail"></table>
<div id="pager_warehouse_detail"></div>

<script src="@Url.Content("~/scripts/warehouse/transaction.js")"> </script>